<footer class="footer mt-auto py-4 bg-dark text-white">
  <div class="container">
    <div class="row align-items-center gy-3">
      <!-- Redes sociales -->
      <div class="col-12 col-md-6">
        <div class="d-flex justify-content-center justify-content-md-start gap-3 social">
          <!-- Reemplaza los href con tus URLs reales -->
          <a href="https://www.facebook.com/p/CC-Comercializaci%C3%B3n-100075785606935/?locale=es_LA" target="_blank" rel="noopener" aria-label="Facebook" class="text-decoration-none">
            <span class="visually-hidden">Facebook</span>
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://www.facebook.com/p/CC-Comercializaci%C3%B3n-100075785606935/?locale=es_LA" target="_blank" rel="noopener" aria-label="X (Twitter)" class="text-decoration-none">
            <span class="visually-hidden">X</span>
            <i class="fa-brands fa-x-twitter"></i>
          </a>
          <a href="https://www.facebook.com/p/CC-Comercializaci%C3%B3n-100075785606935/?locale=es_LA" target="_blank" rel="noopener" aria-label="TikTok" class="text-decoration-none">
            <span class="visually-hidden">TikTok</span>
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </div>
      </div>

      <!-- Copyright -->
      <div class="col-12 col-md-6">
        <p class="text-center text-md-end text-white-50 mb-0">
          © {{year}} · CyC Comercialización
        </p>
      </div>
    </div>
  </div>
</footer>
