<main class="index">
  <header class="masthead d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
          <form class="w-100" action="/shop/search" method="GET" role="search">
            <div class="input-group">
              <input
                class="form-control"
                type="search"
                name="buscar"
                placeholder="Buscar"
                aria-label="Buscar"
                maxlength="50"
              />
              <button class="btn btn-outline-secondary" type="submit" aria-label="Buscar">
                <img src="/img/lupa.png" alt="" width="20" height="20" aria-hidden="true">
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
</main>
